{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
    </div>
</div>

<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=38d34c29c097c5f5c8c02416cb4aefff"></script>
<script>
    navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            // alert(lat + ',' + lng);
    });

var container = document.getElementById('map');
var options = {
    center : new kakao.maps.LatLng(37.4980239, 127.027572), // 강남역
    level : 4
};
var map = new kakao.maps.Map(container, options);
var markerPosition = new kakao.maps.LatLng(37.4980239, 127.027572);
var marker = new kakao.maps.Marker({
    position: markerPosition
});
marker.setMap(map);
</script>

{% endblock %}